body{
    background-color: #2e2d2d;
}
.card{
    background-color: #2e2d2d;
    border-color: #fff;
}
nav.navbar{
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}
a{
    text-decoration: none;
}
code{
    background-color: rgb(243, 242, 242);
    padding: 3px;
    border-radius: 3px;
}
.special{
    margin-left:auto;
}

